@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Khula:wght@800&display=swap");

body, p {
  font-family: 'Hind', sans-serif;
}

h1 {
  font-family: 'Hind', sans-serif;
  text-align: center;
}

.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  font-family: 'Khula', sans-serif;
  height: fit-content;
  background-color: #fff;
}

h1#title {
  margin-bottom: 0px;
  font-size: 24px;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  cursor: pointer;
}

.header-logo {
  width: 60px;
}

.button-header {
  display: inline-block;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.container-body {
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.main-background {
  background-image: url('../public/background_img.jpg');
}

.searchbar {
  border: gray;
  border-radius: 50px;
  width: 350px;
  text-indent: 20px;
  font-size: 20px;
  height: 40px;
  box-shadow: -3px 3px 5px gray;
  font-family: FontAwesome;
}

.background-shop {
  background-color: #f2f2f2;
  text-align: center;
}

.background {
  background-color: #f2f2f2;
  padding: 50px;
  align-items: center;
}

.bg-img {
  width: 100%;
  height: 80vh;
  position: relative;
  background: rgba(10, 10, 10, 0.8);
}

.overlay-txt {
  font-family: 'Khula', 'Extra-Bold';
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 96px;
  color: #fff;
  text-align: center;
}

.img-containter {
  position: relative;
  text-align: center;
  color: #fff;
}

.centered {
  text-align: center;
  font-size: 18px;
  padding: 20px;
}

img.logo {
  align-self: center;
  display: block;
  width: 25%;
  max-width: 200px;
  margin: 80px auto;
}

.home-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.home-txt-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
}

.home-logo {
  width: 200px;
  margin: 30px auto;
}

.home-txt {
  font-family: 'Khula', sans-serif;
  font-weight: 600;
  color: #31C48D;
}

.home-img{
  display: block;
  margin-right: 0px;
  margin-left: auto;
  height: 50vh;
}
.listings {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  justify-content: space-between;
}

.listing {
  flex: 1 0 21%;
  margin: 5px;
  border-radius: 10%;
  max-width: 240px;
  text-align: center;
  height: 250px;
  background-color: white;
  box-shadow: -2px 2px 8px -3px green;
  cursor: pointer;
}

.listing:hover {
  box-shadow: -2px 2px 10px green;
}

.listing-bottom-text {
  line-height: 10px;
  font-size: 15px;
}

.img-listing {
  width: 100px;
  height: 100px;
  border-radius: 5%;
  margin: 20px;
}

.price {
  color: #295d21;
  margin: 10px;
  background-color: #f3fbf3;
  padding: 5px;
  border-radius: 10px;
}

.farm-name {
  font-style: italic;
}

.container-product {
  display: flex;
}

.img-product {
  width: 500px;
  height: 500px;
  margin: 50px;
}

.product-details {
  margin: 50px;
}

.product-detail {
  margin: 20px;
  font-weight: normal;
}

.product-label {
  font-weight: bold;
}

.product-detail-price-border {
  margin: 20px;
  background-color: #f3fbf3;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

.product-detail-price {
  color: #295d21;
  margin: 5px;
}
